fastapi
uvicorn
sqlalchemy
asyncpg
alembic
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
passlib==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
python-multipart
geoalchemy2
email-validator
shapely
httpx
aiofiles